.experienceContainer{
    display: flex;
    flex-direction: column;

      
    .dateContainer{
        display: flex;
        justify-content: space-evenly;
        margin: 8px;
    }
}


.addDivBtnContainer{
    display: flex;
    justify-content: center;
    
    .addDivBtn{
        width: 32px;
        height: 32px;
        }
}
