.experienceContainer{
    display: flex;
    flex-direction: column;

      
    .dateContainer{
        display: flex;
        justify-content: space-evenly;
        margin: 8px;
    }
}


.addDivBtn{
    width: 100%;
    height: 32px;
}
