.appContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .inputsContainer{
        grid-column: 1 / 2;
        
        form{
            display: flex;
            flex-direction: column;

            label{
                margin: 4px;
            }

            .input{
                margin:  0 4px 0 4px;

            }
            .inputBig{
                height: 80px;
            }

        }
    }
}