.appContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .inputsContainer{
        grid-column: 1 / 2;
        
        div{
            display: flex;
            flex-direction: column;
        }
    }
}